In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df=pd.read_csv("C:\\Users\\Sudip\\Desktop\\machine learning\\dataset_Facebook.csv",sep=';')

In [3]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [4]:
df.shape

(500, 19)

In [5]:
df.columns[df.isna().any()]

Index(['Paid', 'like', 'share'], dtype='object')

In [6]:
a=round(df.Paid.mean())

In [7]:
df.Paid=df.Paid.fillna(a)

In [8]:
b=round(df.like.mean())

In [9]:
df.like=df.like.fillna(b)

In [10]:
c=round(df.share.mean())

In [11]:
df.share=df.share.fillna(c)

In [12]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
Page total likes                                                       500 non-null int64
Type                                                                   500 non-null object
Category                                                               500 non-null int64
Post Month                                                             500 non-null int64
Post Weekday                                                           500 non-null int64
Post Hour                                                              500 non-null int64
Paid                                                                   500 non-null float64
Lifetime Post Total Reach                                              500 non-null int64
Lifetime Post Total Impressions                                        500 non-null int64
Lifetime Engaged Users                                                 500 non-null int64
Lifetime Post Consumers                                                500 non-null int64
Lifetime Post Consumptions                                             500 non-null int64
Lifetime Post Impressions by people who have liked your Page           500 non-null int64
Lifetime Post reach by people who like your Page                       500 non-null int64
Lifetime People who have liked your Page and engaged with your post    500 non-null int64
comment                                                                500 non-null int64
like                                                                   500 non-null float64
share                                                                  500 non-null float64
Total Interactions                                                     500 non-null int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [16]:
df.Type=le.fit_transform(df.Type)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
Page total likes                                                       500 non-null int64
Type                                                                   500 non-null int32
Category                                                               500 non-null int64
Post Month                                                             500 non-null int64
Post Weekday                                                           500 non-null int64
Post Hour                                                              500 non-null int64
Paid                                                                   500 non-null float64
Lifetime Post Total Reach                                              500 non-null int64
Lifetime Post Total Impressions                                        500 non-null int64
Lifetime Engaged Users                                                 500 non-null int64
Lifetime Post Consumers                                                500 non-null int64
Lifetime Post Consumptions                                             500 non-null int64
Lifetime Post Impressions by people who have liked your Page           500 non-null int64
Lifetime Post reach by people who like your Page                       500 non-null int64
Lifetime People who have liked your Page and engaged with your post    500 non-null int64
comment                                                                500 non-null int64
like                                                                   500 non-null float64
share                                                                  500 non-null float64
Total Interactions                                                     500 non-null int64
dtypes: float64(3), int32(1), int64(15)
memory usage: 72.4 KB

In [18]:
data=df.drop('Total Interactions',axis=1)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
se=StandardScaler()

In [21]:
data=se.fit_transform(data)

In [22]:
target=df['Total Interactions']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(data,target,train_size=.8,random_state=4)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
model=LinearRegression()

In [27]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
model.score(x_test,y_test)

0.9993862477094984

In [29]:
model.coef_

array([ 5.69103138e-01, -2.60810984e-01,  9.10459703e-01, -1.26408390e+00,
       -4.56968655e-01, -7.88467315e-02,  1.67066181e-01, -1.63923210e+00,
        1.24651284e+00,  8.75285363e+01, -7.64830467e+01,  1.05386454e+00,
       -1.05789544e+00,  1.27158563e+00,  1.30195793e-01,  2.30788456e+01,
        2.95270154e+02,  4.47719382e+01])

In [30]:
model.intercept_

212.20156912580205

In [31]:
model.predict(x_test[:5])

array([ 51.62123418, 449.23452303,   3.63792297,  93.43857531,
       160.45099659])

In [32]:
y_test[:5]

66      55
152    454
123      6
285     94
70     162
Name: Total Interactions, dtype: int64